<h1 class="text-center mt-5">Edición de Trabajadores</h1>
<a style="color:#0055aa " [routerLink]="['/encargado/trabajadores']"> <img src="../../../../../assets/recursos/super-admin/ICONOS GENERALES/regresar.svg" style="width: 30px; height: 30px;" class="float-start ms-5"> Regresar </a>
<div class="container">
    <div class="row justify-content-start mt-5">
        <div class="col-6">
            <form autocomplete="off" [formGroup]="trabajador_formulario" class="mt-2">
                <div class="input-group mb-3 mt-5">
                    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                    <select class="form-select" aria-label="Default select example" formControlName="departamento" [class.is-invalid]="departamentoNoValido" value="{{trabajador.departamento.nombre}}">
                        <option disabled selected>-Elija Un Departamento-</option>
                        <option *ngFor="let departamento of departamentos">{{departamento.nombre | uppercase}}</option>
                      </select>
                    <label>Departamento<span>*</span></label>
                </div>
                <small *ngIf="departamentoNoValido" class="text-danger"> El campo no puede estar vacio</small>

            </form>
        </div>
    </div>
</div>

<!--Card Para Edicion -->
<div class="container align-items-center">
    <div class="card">
        <div class="card-header text-center">
            Datos del Trabajador
            <hr>
        </div>
        <div class="card-body ">
            <div class="container">
                <form autocomplete="off" [formGroup]="trabajador_formulario" (ngSubmit)="actualizarTrabajador()" class="mt-2">
                    <div class="form-group row justify-content-center">
                        <div class="col-12 col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="id" [class.is-invalid]="idNoValido">

                                <label>ID<span>*</span></label>
                            </div>
                            <small *ngIf="idNoValido" class="text-danger"> {{idNoValido}}</small>

                        </div>
                        <div class="col-12 col-md-4">

                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="nombre" [class.is-invalid]="nombreNoValido">

                                <label>Nombre<span>*</span></label>
                            </div>
                            <small *ngIf="nombreNoValido" class="text-danger"> {{nombreNoValido}}</small>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="apellidos" [class.is-invalid]="apellidosNoValido">

                                <label>Apellidos<span>*</span></label>
                            </div>
                            <small *ngIf="apellidosNoValido" class="text-danger"> {{apellidosNoValido}}</small>
                        </div>



                    </div>
                    <div class="form-group row justify-content-center mt-5">
                        <div class="col-6 col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="dias_laborales" id="dias" [class.is-invalid]="diasNoValidos">

                                <label>Días Laborales<span>*</span></label>
                            </div>
                            <small *ngIf="diasNoValidos" class="text-danger"> {{diasNoValidos}}</small>
                        </div>
                        <div class="col-6 col-sm-3">

                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="telefono" id="telefono" [class.is-invalid]="telefonoNoValido">

                                <label>Telefono<span>*</span></label>
                            </div>
                            <small *ngIf="telefonoNoValido" class="text-danger"> {{telefonoNoValido}}</small>
                        </div>
                        <div class="col-6 col-sm-3">

                        </div>


                        <div class="form-group row mt-4">
                            <button type="submit" class="btn btn-success w-50 p3 " style="margin-left: 18%;">GUARDAR CAMBIOS</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background-color:#017436 ;">
                    <img src="../../../../../assets/recursos/encargado/ICONOS GENERALES/ICONOS ALERTAS/alert_exito.svg" class="w-25 p1" style="margin-left: 40%;">
                </div>
                <div class="modal-body text-center">
                    <h3>¡Registro Exitoso!</h3>
                    <h6>Supermercado guardado correctamente</h6>
                    <button type="button" class="btn btn-success mt-3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>