.th {
    background-color: #33383e;
    color: white;
}

.button {
    background-color: #d89323;
    color: white;
}

.button-red {
    background-color: #8c0b0a;
    color: white;
}

.btn {
    border-radius: 5%;
}