<h1 class="text-center">Listado de Supermercados</h1>
<div class="table-responsive mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="th" scope="col">Razón Social</th>
                <th class="th" scope="col">Estado</th>
                <th class="th" scope="col">Correo Electrónico</th>
                <th class="th" scope="col">Teléfono</th>
                <th class="th" scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supermercado of supermercados | paginate: { itemsPerPage: 5, currentPage: p }">
                <th scope="row">{{supermercado.razon_social}}</th>
                <td>{{supermercado.estado}} </td>
                <td>{{supermercado.correo}}</td>
                <td>{{supermercado.telefono}}</td>
                <td>
                    <a type="button" class="btn button text-white" style="background-color: #002B55;" [routerLink]="['/admin/supermercado',supermercado.id]">Ver Detalles</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>