<h1 class="text-center mt-5">Listado de Supermercados</h1>
<div class="d-grid gap-2 col-8 mx-auto justify-content-md-end mt-3">
    <label>Items Por Página</label>
    <select class="form-select w-50" aria-label="Default select example" #item (change)="actualizarItems(item.value)">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
</div>
<div class="table-responsive mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="th" scope="col">Razón Social</th>
                <th class="th" scope="col">Estado</th>
                <th class="th" scope="col">Correo Electrónico</th>
                <th class="th" scope="col">Teléfono</th>
                <th class="th" scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supermercado of supermercados | paginate: { itemsPerPage: items, currentPage: p }">
                <th scope="row">{{supermercado.razon_social}}</th>
                <td>{{supermercado.estado}} </td>
                <td>{{supermercado.correo}}</td>
                <td>{{supermercado.telefono}}</td>
                <td>
                    <a type="button" class="btn button text-white" style="background-color: #002B55;" [routerLink]="['/admin/supermercado',supermercado.id]">Ver Detalles</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>