<nav class="navbar bg-body-tertiary">
    <div class="container-fluid align-items-center">
        <img src="../../../../../assets/recursos/encargado/SIDE BAR/button hamburguesa.svg" width="30px" height="30px" (click)="SideNavToggle()">
        <a class="navbar-brand" href="#" style="margin-left: 20%">
            <img src="../../../../../assets/recursos/landing/NAV BAR/logo.svg" alt="Bootstrap" width="150px" height="50px" />
        </a>
        <button type="button" class="btn button text-white" (click)="cerrarSesion()">
            <img
              src="../../../../../assets/recursos/super-admin/NAV BAR/b_logout.svg"
              alt="Bootstrap"
              width="20px"
              height="20px"
            />
            Cerrar Sesión
          </button>
    </div>
</nav>