.card {
    width: auto;
    height: auto;
    position: relative !important;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.card-header .active {
    background-color: #41733d;
    color: white
}

.row img {
    border-radius: 50%;
    object-fit: cover;
}

.th {
    background-color: #33383e;
    color: white;
}

.smaller {
    font-size: 0.70rem;
    font-weight: bold;
}

.smaller-response {
    font-size: 0.80rem;
}


/* @media screen and (max-width:450px) {
    .smaller {
        font-weight: bold;
        font-size: 0.7rem;
    }
    .smaller-response {
        font-size: 0.8rem;
    }
    .row img {
        border-radius: 50%;
        object-fit: cover;
        position: relative;
        left: 10%;
    }
} */