.card {
    width: 40vw;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.card-header .active {
    background-color: #41733d;
    color: white
}

.th {
    background-color: #33383e;
    color: white;
}

.smaller {
    font-size: 70%;
    font-weight: bold;
}

.smaller-response {
    font-size: 80%;
}

@media screen and (max-width:800px) {
    .card {
        width: 35vw;
        height: 85vh;
    }
    .smaller {
        font-size: 7px;
        font-weight: bold;
    }
    .smaller-response {
        font-size: 8px;
    }
    .row img {
        position: absolute;
        top: 30%;
        left: -10%;
        width: 50px;
        height: 50px;
    }
}