.button {
    background-color: #8c0b0a
}

.modal {
    right: initial;
    bottom: initial;
    width: 200px;
    height: 200px;
}

.alert {
    width: 30vw;
    position: absolute;
    right: 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.th {
    background-color: #33383e;
    color: white;
}