<div class="row justify-content-around mt-5">
    <div class="col-4">
        <form autocomplete="off" [formGroup]="imagen_formulario" class="mt-2">
            <div class="container">
                <img src="{{imgURL}}" id='preview-image'>
                <label for="file-upload" class="custom-file-upload">
            <img src="../../../../assets/recursos/encargado/ICONOS GENERALES/camara.png" class="img2">
        </label>
                <input id="file-upload" class="file-upload" type="file" (change)="previewImage($event)" formControlName="imagen" />
            </div>
        </form>

    </div>
    <div class="col-4">

        <div class="container2">
            <p><strong>Nombre:</strong> {{encargado.nombre}} {{encargado.apellido_paterno}} {{encargado.apellido_materno}}</p>
            <p><strong>Genero:</strong> {{encargado.genero}}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{encargado.fecha_nacimiento}}</p>
            <p><strong>Correo:</strong> {{encargado.correo}}</p>
            <p><strong>Telefono:</strong> {{encargado.telefono}}</p>
        </div>
    </div>
</div>