p {
    color: red;
    position: absolute;
    left: 20px;
    top: 10px;
}

.btn {
    background-color: #198754;
    color: white;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

span {
    color: red;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.form-group {
    margin-top: 35px;
}

.card {
    width: auto;
    height: auto;
}

@media screen and (max-width:900px) {
    .card {
        width: 480px;
        height: 400px;
    }
    .input-group label {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
        font-size: 8px;
        color: black;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }
    span {
        color: red;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -5px;
        background: white;
        box-shadow: none;
    }
    .input-group input {
        font-size: 0.625rem;
    }
    span img {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width:580px) {
    .card {
        width: 70vw;
        height: auto;
    }
    .btn {
        position: absolute;
        bottom: 0;
    }
}