<h1 class="text-center mt-5">Registro de Encargados</h1>
<a style="color: #0055aa">
    <img src="../../../../../assets/recursos/super-admin/ICONOS GENERALES/regresar.svg" style="width: 30px; height: 30px" /> Regresar
</a>

<div class="card mt-5">
    <div class="card-body" style="margin-left: 10%">
        <div class="container text-center">
            <p>Los campos con (*) son obligatorios</p>
            <form autocomplete="off" [formGroup]="encargado_formulario" (ngSubmit)="guardarEncargado()" class="mt-2">
                <div class="form-group row">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control shadow-none" formControlName="nombre" [class.is-invalid]="nombreNoValido" />
                            <label>Nombre<span>*</span></label>
                        </div>
                        <small *ngIf="nombreNoValido" class="text-danger"> El campo no puede estar vacio</small>

                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control shadow-none" formControlName="apellido_paterno" [class.is-invalid]="apellidopaternoNoValido" />

                            <label>Apellido Paterno<span>*</span></label>
                        </div>
                        <small *ngIf="apellidopaternoNoValido" class="text-danger"> El campo no puede estar vacio</small>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control shadow-none" formControlName="apellido_materno" [class.is-invalid]="apellidomaternoNoValido" />

                            <label>Apellido Materno<span>*</span></label>
                        </div>
                        <small *ngIf="apellidomaternoNoValido" class="text-danger"> El campo no puede estar vacio</small>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <div class="input-group">
                                <input type="date" class="form-control shadow-none" formControlName="fecha_nacimiento" [class.is-invalid]="fechaNoValido" />

                                <label>Fecha de Nacimiento <span>*</span></label>
                            </div>
                            <small *ngIf="fechaNoValido" class="text-danger"> El campo no puede estar vacio</small>

                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                                <select class="form-select" aria-label="Default select example" formControlName="genero" [class.is-invalid]="fechaNoValido">
                                    <option selected disabled>-Elija Un Género-</option>
                                    <option value="FEMENINO">FEMENINO</option>
                                    <option value="MASCULINO">MASCULINO</option>
                                  </select>
                                <label>Género<span>*</span></label>
                            </div>
                            <small *ngIf="generoNoValido" class="text-danger"> El campo no puede estar vacio</small>

                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="correo" [class.is-invalid]="correoNoValido" />
                                <label>Correo Electrónico <span>*</span></label>
                            </div>
                            <small *ngIf="correoNoValido" class="text-danger"> El campo no puede estar vacio</small>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none" formControlName="telefono" [class.is-invalid]="telefonoNoValido" />
                                <label>Teléfono <span>*</span></label>
                            </div>
                            <small *ngIf="telefonoNoValido" class="text-danger"> El campo no puede estar vacio y</small>

                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control shadow-none" formControlName="contraseña" [class.is-invalid]="contraseniaNoValido" />
                                <span class="input-group-text" (click)="toggleFieldTextType()"><img
                    [src]="fieldTextType? '../../../../../assets/recursos/super-admin/ICONOS GENERALES/ocultar.svg' : '../../../../../assets/recursos/super-admin/ICONOS GENERALES/mostrar.svg' "
                    width="20px"
                    height="20px"
                    
                /></span>
                                <label>Contraseña <span>*</span></label>
                            </div>
                            <small *ngIf="contraseniaNoValido" class="text-danger"> El campo no puede estar vacio</small>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control shadow-none" formControlName="confirmar_contraseña" [class.is-invalid]="confirmarContraseniaNoValida" />
                                <span class="input-group-text" (click)="toggleFieldTextType2()"><img
                    [src]="fieldTextType2? '../../../../../assets/recursos/super-admin/ICONOS GENERALES/ocultar.svg' : '../../../../../assets/recursos/super-admin/ICONOS GENERALES/mostrar.svg' "                
                    width="20px"
                    height="20px"
                /></span>
                                <label>Confirmar Contraseña <span>*</span></label>
                            </div>
                            <small *ngIf="confirmarContraseniaNoValida" class="text-danger"> Las contraseñas deben coincidir</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success w-50 p3" style="margin-left: 18%">
              Registrar
            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #017436">
                <img src="../../../../../assets/recursos/encargado/ICONOS GENERALES/ICONOS ALERTAS/alert_exito.svg" class="w-25 p1" style="margin-left: 40%" />
            </div>
            <div class="modal-body text-center">
                <h3>¡Registro Exitoso!</h3>
                <h6>Encargado guardado correctamente</h6>
                <button type="button" class="btn btn-success mt-3">Aceptar</button>
            </div>
        </div>
    </div>
</div>