.container-dep {
    width: 40vw;
}

.card {
    width: auto;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.input-group select:focus~label,
.input-group select:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.input-group input:focus~span,
.input-group input:valid~span {
    top: -5px;
}

p,
span {
    color: red;
}

@media screen and (max-width:700px) and ( min-width:575px) {
    .input-group label {
        font-size: 0.625rem;
    }
    .input-group .btn {
        font-size: 0.625rem;
        width: 70px;
    }
    select {
        font-size: 0.625rem;
    }
    .card {
        width: auto;
        height: auto;
    }
    .card .btn {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width:574px) {
    .input-group label {
        font-size: 0.625rem;
    }
    .card {
        margin-top: 10%;
        width: auto;
        height: auto;
    }
    .input-group input {
        font-size: 0.625rem;
        margin-top: 10%;
    }
    select {
        font-size: 0.625rem;
    }
    .card .btn {
        position: absolute;
        bottom: 0;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: 22px;
        background: white;
        box-shadow: none;
    }
    .input-group #telefono:focus~label,
    .input-group #telefono:valid~label {
        top: 10px;
    }
    .container-dep {
        width: auto;
    }
    .form-select {
        width: 100%;
    }
}