.container-dep .input-group {
    width: 400px;
}

.card {
    width: 60vw;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.input-group select:focus~label,
.input-group select:valid~label {
    top: -5px;
    background: white;
    box-shadow: none;
}

.input-group input:focus~span,
.input-group input:valid~span {
    top: -5px;
}

p,
span {
    color: red;
}

@media screen and (max-width:700px) {
    .input-group label {
        font-size: 10px;
    }
    .input-group {
        width: 100px;
        height: 20px;
    }
    .input-group .btn {
        font-size: 10px;
        width: 70px;
    }
    .card {
        margin-top: 10%;
        width: 90vw;
        height: 60vh;
    }
    .form-control {
        width: 100px;
    }
    .container-dep .input-group {
        width: 200px;
    }
    .card .btn {
        position: absolute;
        bottom: 0;
    }
}