.th {
    background-color: #33383e;
    color: white;
}

.button {
    background-color: #d89323;
}

.table {
    width: 60%;
    margin-left: 12%;
}

.alert {
    width: 30vw;
    position: absolute;
    right: 0;
}