<div class="side-nav-content">

    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item" routerLinkActive="active">
            <a [routerLink]="['departamentos']"><img src="../../../../../assets/recursos/encargado/SIDE BAR/departamentos.svg">
            </a>
            <span>
          <a [routerLink]="['departamentos']">Departamentos</a>
        </span>
        </li>
        <li class="nav-list-item" routerLinkActive="active">
            <a [routerLink]="['trabajadores']"><img src="../../../../../assets/recursos/encargado/SIDE BAR/listado trabajadores.svg">
            </a>
            <span>
          <a [routerLink]="['trabajadores']">Trabajadores</a>
        </span>
        </li>
        <li class="nav-list-item" routerLinkActive="active">
            <a [routerLink]="['ver-cuenta']"><img src="../../../../../assets/recursos/encargado/SIDE BAR/usuario(1).png">
            </a>
            <span>
        <a [routerLink]="['ver-cuenta']">Mi Cuenta</a>
      </span>
        </li>
    </ul>

</div>