<footer id="myFooter">
    <br><br>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-2">
                <div class="text-center">
                    <h6 class="text-white">CONTACTANOS</h6>

                    <ul id="ulLi" class="fg-link-box">
                        <li id="li1" class="el1"><img src="../../../../../assets/recursos/landing/CONTACTANOS/direccion.svg" width="10%" class="img-footer" id="img-footer1"><a class="contactanos text-decoration-none text-white ms-2 text-wrap" id="direccion">Gob. José Ugarte, <p>Col. Nueva Chapultepec</p>
                                <p>Morelia, Michoacán </p></a></li>
                        <li id="li1" class="el2"><img src="../../../../../assets/recursos/landing/CONTACTANOS/telefono.svg" width="10%" class="img-footer" id="img-footer1"><a class="contactanos text-decoration-none text-white" id="contacto">(999) 999 9999</a></li>
                        <li id="li1" class="el3"><img src="../../../../../assets/recursos/landing/CONTACTANOS/correo.svg" width="10%" class="img-footer" id="img-footer"><a class="contactanos text-decoration-none text-white">contacto@supermercado.com</a></li>
                        <li id="li1" class="el4"><img src="../../../../../assets/recursos/landing/CONTACTANOS/sitioweb.svg" width="10%" class="img-footer" id="img-footer"><a class="contactanos text-decoration-none text-white">https://www.supermercado.com</a></li>

                    </ul>
                    <br>
                </div>
            </div>
            <div class="vr"></div>

            <div class="col-2">
                <h6 class="text-white">SIGUENOS </h6>
                <div class="row mt-5">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/recursos/landing/SIGUENOS/instagram.svg" class="w-50 p1" class="img-footer">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/recursos/landing/SIGUENOS/whatsapp.svg" class="w-50 p1" class="img-footer">
                    </div>
                    <div class="col-sm-4">
                        <img src="../../../../../assets/recursos/landing/SIGUENOS/facebook.svg" class="w-50 p1" class="img-footer">
                    </div>
                </div>
            </div>

            <div class="vr"></div>

            <div class="col-2">
                <h6 class="text-white">LEGAL </h6>
                <p class="legal text-white">Políticas de cookies</p>
                <p class="legal text-white">Políticas de privacidad</p>
                <p class="legal text-white">Términos y condiciones</p>
            </div>

            <div class="vr"></div>

            <div class="col-2">

                <h6 class="text-white">FAQ'S </h6>
                <p class="faqs text-white">Solicitud de contacto</p>
                <p class="faqs text-white"> ¿Quiénes somos?</p>
            </div>
        </div>
    </div>

</footer>