 .form-control:focus {
     outline: 0px none #fff !important;
     border-color: transparent;
 }
 
 .form-control {
     outline: 0px none #fff !important;
 }
 
 .input-group label {
     z-index: 100000;
 }